@media screen and (max-width: 950px)
  body
    &::before
      content: none

  nav
    position: initial

    ul
      justify-content: flex-start
      padding-left: 20px

  header
    padding: 0 2em

  #introduction
    &::after
      content: none

    article
      padding: 0 1em
      width: 100%

  #interview
    h2
      padding: 0

  #presentation
    ul li
      width: 100%

  #testimonials
    article
      width: 100%

  #news
    article
      width: 100%

  #certification, #organism
    flex: 1 100%

  #certification
    justify-content: center

    &::before
      content: none

  #organism
    margin: 1em 0

    ul
      text-align: center
      width: 100%

  #lessons #lessons-container
    section
      width: 100%

  #formation_complementary_informations
    dl
      display: initial

      dd
        border: none
        padding: 1em 0

  #formation_statistics
    ul
      flex-wrap: wrap

      li
        flex: 1 100%

  #features
    dl
      background-position: bottom
      background: none
      column-gap: 2em

      @media screen and (max-width: 800px)
        columns: 1

        dt
          margin-bottom: .5em

      dt:hover + dd
        height: auto
        &::before
          content: none

      dd
        background: none
        border-bottom: none
        display: block
        font-size: inherit
        height: auto
        opacity: 1
        padding: 0
        position: initial
        visibility: visible
        transition: none

  #plus
    dl
      border: none

      &::before
        content: none

      dt
        border: none
        height: auto

      dd
        height: auto
        margin-left: 0
        padding: 0
        text-align: left
        width: auto

  #optic-intro
    &::after
      content: none

    h2, p
      max-width: none

  #advantages-optic
    ul li
      &#simplification-optic, &#optimization-optic
        height: auto
        width: 270px

  #numbers-optic
    section
      padding: 1em 2em

      ul li
        width: 270px

  #numbers
    section
      min-height: 0

      &#income
        flex: 1 100%

      &#brake, &#wait
        flex: 1 100%
        padding: 1em 0

        h3
          order: 0
          padding-top: 0

      &#value
        flex: 1 100%
        height: auto
        order: 5

      &#hidden_cost
        dl
          flex: 1 100%
          margin: 0

  #contact
    #offer, #recap
      flex: 1 100%

    #contact_form
      article, form
        flex: 1 100%

      article
        order: 0
        padding: 1em 0

        ul
          padding-left: 0

  #whitepaper
    form
      width: 100%

  footer
    #social
      justify-content: center
      margin-top: 1em

    #legals_mentions
      text-align: left
