/* VARIABLES */

$yellow: #faba49
$grey: #383737
$blue: #499cfb
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600')

=button_action_principal
  background: $blue
  color: #fff
  font-size: 0.9em
  padding: 1em
  text-decoration: none
  transition: background 0.3s

  &:hover
    background: darken($blue, 5%)


/* COMMON */
#click-to-call
  background: $grey
  background-clip: content-box
  display: flex
  flex-wrap: wrap
  overflow: hidden
  padding: 0 0 0 45px
  position: fixed
  top: 50%
  transition: width 1s
  right: 0
  width: 0
  z-index: 10

  > *
    box-sizing: border-box
    margin: 0.5em
    flex: 1 100%
    text-align: center
    white-space: nowrap

  &:hover
    color: #fff
    width: 210px

  &:before
    background: url(../images/phone.svg) no-repeat center $blue
    background-size: 50%
    color: #fff
    content: ''
    left: 0
    position: absolute
    top: 0
    height: 45px
    width: 45px

  label
    display: none

  input
    border: none
    box-sizing: border-box
    display: block
    font-family: Poppins
    padding: 0.5em 1em
    outline: none
    text-align: center
    width: 100%

    &[type="submit"]
      background: $yellow
      cursor: pointer
      transition: background 0.3s

      &:hover
        background: lighten($yellow, 8%)

body
  background: #f5f5f5
  color: $grey
  display: flex
  flex-direction: column
  font-family: Poppins
  line-height: 1.618em
  margin: 0

nav
  background: $grey
  order: -1

  ul
    color: #fff
    display: flex
    flex-wrap: wrap
    font-size: .9em
    justify-content: flex-end
    margin: 0
    padding: 0

    li
      display: block

      &:hover a
        color: $yellow

      a
        color: inherit
        display: block
        padding: 1em
        text-decoration: inherit
        transition: color 0.3s

section
  background: #fff
  box-sizing: border-box
  margin: 0 auto
  max-width: 1200px
  padding: 2em
  width: 100%

  h2
    font-size: 2em
    font-weight: 300
    line-height: 2em
    text-align: center

    &:after
      background: $yellow
      content: ''
      display: block
      height: 3px
      width: 35px
      margin: 0.5em auto 0

footer
  background: $grey
  color: #fff
  display: flex
  flex-wrap: wrap
  font-size: .9em
  max-width: 1200px
  margin: 0 auto
  width: 100%
  box-sizing: border-box
  padding: 2em

  ul
    list-style: none
    margin: 0

  #contact_informations
      flex: 1 50%

      &::before
        content: url(../images/logo-footer.svg)
        display: block
        width: 150px

      a
        color: $yellow
        transition: color .3s

        &:hover
          color: lighten($yellow, 8%)

  #legals_mentions
    margin-top: 50px
    text-align: right

    li:nth-child(2)::before
      content: "*"
      color: $yellow

    a
      color: #fff
      transition: color .3s

      &:hover
        color: $yellow
        text-decoration: underline

  #social
    display: flex
    flex: 1 100%
    justify-content: flex-end

    li
      @each $name in facebook, linkedin, youtube, twitter, instagram, github
        &##{$name} a
          content: url(../images/#{$name}.svg)
          height: 30px
          margin: 0 .2em
          width: 30px


/* INDEX */
header
  background: url(../images/introduction_bg.png) center no-repeat
  background-size: cover
  min-height: 500px

h1
  background: url(../images/logo-blanc.svg) left no-repeat
  color: transparent
  height: 3em
  margin: 1em auto
  max-width: 1200px

#introduction
  background: none

  h2
    color: #fff
    font-size: 2.5em
    font-weight: 400
    line-height: 1.5em
    margin: 0
    text-align: left
    width: 100%

    &::after
      content: none

  ul
    color: #fff
    font-size: 1.2em
    line-height: 2em
    list-style-image: url(../images/check.svg)
    padding-left: 0

    a:not(#contact_ask):not(#white_book)
      color: #fff

      &:hover
        &::before, &:after
          margin: 0 .2em

      &:before
        content: "["

      &:after
        content: "]"

  #contact_ask
    +button_action_principal

  #white_book
    +button_action_principal
    background: #fff
    color: $grey
    display: inline-block

    &:hover
      background: darken(#fff, 5%)

  p
    background: $yellow
    display: inline-block
    float: right
    padding: 2em
    text-align: center

    strong
      display: block

      &:first-of-type
        font-size: 2.5em
        margin: .2em 0

      &:last-of-type
        font-size: 1.2em
        text-transform: uppercase

#presentation
  ul
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    padding: 0
    background: cornflowerblue

    li
      background: #fff
      align-items: center
      border: 1px solid #e3e3e3
      box-sizing: border-box
      display: flex
      flex-direction: column
      margin: 12px
      padding: 1em
      text-align: center
      transition: background 0.3s, border-color 0.3s

      strong
        font-size: 1.2em
        font-weight: 400

      &#externalisation
        flex-grow: 1

      &#training, &#mutualisation
        height: 300px
        width: 300px

#video
  display: flex
  flex-wrap: wrap

  h2
    flex: 1 100%
    text-align: left

    &::after
      margin: .5em 0

  p, iframe
    flex: 1 50%

  iframe
    width: 50%

#advantages
  ul
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 0

    li
      align-items: center
      border: 1px solid #e3e3e3
      box-sizing: border-box
      display: flex
      flex-direction: column
      height: 270px
      margin: 12px
      padding: 1em
      text-align: center
      transition: background 0.3s, border-color 0.3s
      width: 270px

      strong
        font-size: 1.1em

      &:before
        display: block
        content: ''
        height: 100px
        margin-top: 2em
        width: 25%

      &:hover
        background: $grey
        border-color: $grey
        color: white

      @each $name in acceleration, simplification, recoverate, time, optimization, rationalization
        &##{$name}:before
          content: url(../images/#{$name}.svg)


/* EXTERNALISATION */
#outsourcing
  a
    +button_action_principal
