$yellow: #faba49
$grey: #383737

@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,500,600,700,200);

body
  background: #f5f5f5
  color: $grey
  display: flex
  flex-direction: column
  font-family: Work Sans
  line-height: 1.618em
  margin: 0

h1
  background: #fff
  content: url(../images/logo.svg)
  height: 3em
  margin: 0
  padding: 1em 3em

h2
  font-weight: normal

nav
  background: $grey
  order: -1

  ul
    color: #fff
    display: flex
    flex-wrap: wrap
    font-weight: 500
    justify-content: center
    margin: 0
    padding: 0

    li
      display: block

      &:hover a
        color: $yellow

      a
        color: inherit
        display: block
        padding: 1em
        text-decoration: inherit
        transition: color 0.3s

section
  padding: 25px

#advantages, #features, #numbers, #plus, #offre, #contact
  h2
    font-size: 2.5em
    font-weight: 300
    text-align: center

    &:after
      color: $yellow
      content: '−'
      display: block
      font-size: 2em
      line-height: 0.8em

#introduction
  padding: 0
  position: relative

  > *
    box-sizing: border-box
    margin-left: auto
    margin-right: auto
    max-width: 1200px
    padding-right: 40%

  h2
    background: #fff
    font-size: 3em
    line-height: 1.5em
    margin: 0
    max-width: none
    padding: 1em 10em 1em 2em
    width: 100%

  ul
    background: $yellow
    font-size: 1.4em
    line-height: 2.2em
    list-style: none
    margin: 0
    max-width: none
    padding: 4em 40% 4em 5em

    &:after
      bottom: 2em
      content: url(../images/computer.png)
      display: block
      position: absolute
      right: 0

    li
      &:before
        content: url(../images/check.svg)
        display: inline-block
        margin-right: 0.5em
        width: 15px

      a
        color: inherit

        &:hover
          color: lighten($grey, 10%)

  p
    background: $grey
    color: white
    font-size: 1.5em
    padding: 1em
    margin: -2em auto 0
    padding-right: 0
    text-align: center
    width: 25%

    strong
      display: block
      font-weight: 600
      margin-top: 0.5em

#advantages
  background: #fff
  margin: 2em auto
  max-width: 1200px

  ul
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 0

    li
      align-items: center
      border: 1px solid #e3e3e3
      box-sizing: border-box
      display: flex
      flex-direction: column
      height: 300px
      margin: 12px
      padding: 1em
      text-align: center
      transition: background 0.3s, border-color 0.3s
      width: 300px

      strong
        font-size: 1.2em
        font-weight: 600

      &:before
        display: block
        content: ''
        height: 110px
        margin-top: 2em
        width: 30%

      &:hover
        background: $grey
        border-color: $grey
        color: white

      &#acceleration:before
        content: url(../images/accelerate.svg)

      &#simplification:before
        content: url(../images/simplify.svg)

      &#recoverate:before
        content: url(../images/recoverate.svg)

      &#time:before
        content: url(../images/time.svg)

      &#optimization:before
        content: url(../images/optimization.svg)

      &#rationalization:before
        content: url(../images/rationalization.svg)


#features
  background: #fff
  color: $grey
  margin: 0 auto
  max-width: 1200px

  > *
    box-sizing: border-box
    margin-left: auto
    margin-right: auto
    max-width: 1200px
    padding-right: 40%

  h2
    background: url(../images/computer2.png) $yellow no-repeat 120% 100%
    color: $grey
    line-height: 1.5em
    margin: -25px
    max-width: none
    padding: 2em 16em 2em 2em
    text-align: left

    &:after
      color: $grey

  dl
    padding: 2em 5em

  dt
    color: darken($grey, 15%)
    display: list-item
    font-size: 1.5em
    font-weight: 500
    margin-top: 1.618em
    list-style-type: decimal

  dd
    font-size: 1.1em
    line-height: 2em
    margin: 0

#numbers
  background: #fff
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin: 2em auto
  position: relative
  width: 1200px

  h2
    background: $grey
    color: #fff
    flex: 1 50%
    line-height: 1.5em
    margin: -25px
    padding: 1em
    text-align: left

  p:first-of-type
    background: $grey
    color: #fff
    flex: 1 50%
    font-size: 1.2em
    line-height: 1.2em
    margin: -25px
    padding: 2em 0
    text-align: center

    strong
      color: $yellow
      display: block
      font-size: 4em
      font-weight: normal
      margin: 0.8em 0.5em 0.5em

  h3
    font-weight: 500
    margin: 0 -25px
    max-width: 300px
    padding: 3em 2em

  ul
    display: flex
    flex-wrap: wrap
    max-width: 800px
    margin: auto
    padding: 0
    justify-content: center

    li
      box-sizing: border-box
      display: flex
      flex-direction: column
      padding: 1em 0.5em
      text-align: center

      strong
        font-size: 2.5em
        font-weight: 400
        line-height: 2em

    &#brake
      li
        margin: 1em 2%

        &:nth-child(1), &:nth-child(2), &:nth-child(3)
          width: 29.3%

        &:nth-child(1) strong
            background: url(../images/circle1.svg) no-repeat center
            color: #499cfb
            padding: 1em

        &:nth-child(2) strong
          background: url(../images/circle2.svg) no-repeat center
          color: #fb6e62
          padding: 1em

        &:nth-child(3) strong
          background: url(../images/circle3.svg) no-repeat center
          color: $yellow
          padding: 1em

    &#wait
      align-items: stretch

      li
        background: $yellow
        width: 33.3%

        strong
        &:nth-child(2)
          background: darken($yellow, 5%)

        &:nth-child(3)
          background: darken($yellow, 10%)


  p
    text-align: center
    width: 100%

    &:nth-of-type(2)
      font-size: 0.8em

      a
        color: #00a071
        text-decoration: none
        transition: color 0.3s

        &:hover
          color: lighten(#00a071, 5%)

    &:nth-of-type(3)
      font-size: 2.2em
      line-height: 1.5em

      strong
        color: $yellow
        display: block
        font-weight: 600

#plus
  background: #fff
  margin: 0 auto 2em
  min-width: 1200px
  padding-bottom: 0

  dl
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: auto
    max-width: 1150px
    padding: 0
    position: relative

    &:before
      background: lightgrey
      content: ''
      height: 1px
      left: 0
      position: absolute
      top: 50%
      width: 100%

    dt
      border-right: 1px solid lightgrey
      box-sizing: border-box
      display: flex
      flex-direction: column
      font-size: 1.2em
      font-weight: 500
      height: 300px
      line-height: 60px
      margin: 0 -0.5px
      padding: 1em
      text-align: center
      width: 400px

      &:before
        display: block
        margin: 0 auto
        height: 100px
        width: 80px

      &:nth-of-type(2), &:nth-of-type(4)
        border-right: none

      &#security:before
        content: url(../images/security.svg)

      &#web:before
        content: url(../images/web.svg)

      &#responsive:before
        content: url(../images/responsive.svg)
        width: 100px

      &#pharmacy:before
        content: url(../images/pharmacy.svg)

    dd
      box-sizing: border-box
      height: 300px
      margin-left: -398px
      padding: 170px 3em 0
      text-align: center
      width: 398px

  p
    background: $yellow
    box-sizing: border-box
    line-height: 2em
    font-size: 1.5em
    margin: 1em -25px 0
    padding: 2em 2em 1em 2em
    text-align: center
    position: relative

    &:before
      content: ""
      background: #fff
      display: block
      height: 40px
      left: 0
      margin: 0 auto
      position: absolute
      right: 0
      transform: rotate(45deg)
      top: -25px
      -webkit-transform: rotate(45deg)
      width: 50px

    strong
      display: block
      font-weight: 600

    a
      background: $grey
      color: #fff
      display: inline-block
      margin: 1em 0 0 0
      padding: 0.5em 1em
      text-decoration: none


#offre
  background: #fff
  display: flex
  flex-direction: column
  justify-content: center
  margin: 0 auto 2em
  min-width: 1200px

  h2
    line-height: 1.5em
    margin-top: 0

    strong
      color: $yellow
      display: block
      font-weight: 500

    &:before
      content: url(../images/logo.svg)
      display: block
      margin: 0 auto
      width: 150px

  ul
    font-size: 1.3em
    line-height: 2.5em
    margin: 0 auto
    padding-left: 0

    li a
      color: #00a071
      text-decoration: none
      transition: color 0.3s

      &:hover
        color: lighten(#00a071, 5%)

#contact
  /*align-items: center*/
  background: $grey
  color: white
  display: flex
  /*flex-direction: column*/
  flex-wrap: wrap
  justify-content: center

  h2
    flex: 1 100%
    margin-top: 1em

  strong
    color: $yellow

  article
    line-height: 2.5em
    margin: 0 2em
    max-width: 600px

    h3
      font-size: 1.3em
      font-weight: 600
      margin: 0

    ul
      font-size: 1.1em
      list-style: none
      margin: 0
      padding-left: 0

    &:last-of-type
      ul li
        border: 1px solid $yellow
        margin: 0.5em 0
        padding: 0.5em 1em
        text-align: center

        &:hover
          background: $yellow

  form
    display: flex
    flex-wrap: wrap
    padding: 0.5em 15em

    label
      display: none

    input, textarea
      border: none
      font-family: Work Sans
      margin: 1em 0
      outline: none
      padding: 1em

    textarea
      height: 5em
      width: 100%

    input
      flex: 1 100%

      &[type="submit"]
        background: $yellow
        cursor: pointer
        flex: 0
        font-weight: 600
        transition: background 0.3s

        &:hover
          background: lighten($yellow, 5%)

#click-to-call
  background: $grey
  background-clip: content-box
  font-family: Work Sans
  display: flex
  flex-wrap: wrap
  overflow: hidden
  padding: 0 0 0 45px
  position: fixed
  text-align: center
  top: 50%
  transition: width 1s, right 1s
  right: 0
  width: 0px
  z-index: 10

  > *
    flex: 1 100%

  &:hover
    color: #fff
    right: 0
    width: 210px

    input
      display: flex

  &:before
    background: url(../images/phone.svg) no-repeat $yellow center
    background-size: 50%
    color: #fff
    content: ''
    left: 0
    position: absolute
    top: 0
    height: 45px
    width: 45px

  label
    display: none

  input
    border: none
    font-family: Work Sans
    margin: 0.5em
    padding: 0.5em 1em
    outline: none

    &[type="submit"]
      background: $yellow
      text-align: center

footer
  background: $yellow

  a
    color: inherit
    text-decoration: inherit
