@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,500,600,700,200);
body {
  background: #f5f5f5;
  color: #383737;
  display: flex;
  flex-direction: column;
  font-family: Work Sans;
  line-height: 1.618em;
  margin: 0; }

h1 {
  background: #fff;
  content: url(../images/logo.svg);
  height: 3em;
  margin: 0;
  padding: 1em 3em; }

h2 {
  font-weight: normal; }

nav {
  background: #383737;
  order: -1; }
  nav ul {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    justify-content: center;
    margin: 0;
    padding: 0; }
    nav ul li {
      display: block; }
      nav ul li:hover a {
        color: #faba49; }
      nav ul li a {
        color: inherit;
        display: block;
        padding: 1em;
        text-decoration: inherit;
        transition: color 0.3s; }

section {
  padding: 25px; }

#advantages h2, #features h2, #numbers h2, #plus h2, #offre h2, #contact h2 {
  font-size: 2.5em;
  font-weight: 300;
  text-align: center; }
  #advantages h2:after, #features h2:after, #numbers h2:after, #plus h2:after, #offre h2:after, #contact h2:after {
    color: #faba49;
    content: '−';
    display: block;
    font-size: 2em;
    line-height: 0.8em; }

#introduction {
  padding: 0;
  position: relative; }
  #introduction > * {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-right: 40%; }
  #introduction h2 {
    background: #fff;
    font-size: 3em;
    line-height: 1.5em;
    margin: 0;
    max-width: none;
    padding: 1em 10em 1em 2em;
    width: 100%; }
  #introduction ul {
    background: #faba49;
    font-size: 1.4em;
    line-height: 2.2em;
    list-style: none;
    margin: 0;
    max-width: none;
    padding: 4em 40% 4em 5em; }
    #introduction ul:after {
      bottom: 2em;
      content: url(../images/computer.png);
      display: block;
      position: absolute;
      right: 0; }
    #introduction ul li:before {
      content: url(../images/check.svg);
      display: inline-block;
      margin-right: 0.5em;
      width: 15px; }
    #introduction ul li a {
      color: inherit; }
      #introduction ul li a:hover {
        color: #525050; }
  #introduction p {
    background: #383737;
    color: white;
    font-size: 1.5em;
    padding: 1em;
    margin: -2em auto 0;
    padding-right: 0;
    text-align: center;
    width: 25%; }
    #introduction p strong {
      display: block;
      font-weight: 600;
      margin-top: 0.5em; }

#advantages {
  background: #fff;
  margin: 2em auto;
  max-width: 1200px; }
  #advantages ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0; }
    #advantages ul li {
      align-items: center;
      border: 1px solid #e3e3e3;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 300px;
      margin: 12px;
      padding: 1em;
      text-align: center;
      transition: background 0.3s, border-color 0.3s;
      width: 300px; }
      #advantages ul li strong {
        font-size: 1.2em;
        font-weight: 600; }
      #advantages ul li:before {
        display: block;
        content: '';
        height: 110px;
        margin-top: 2em;
        width: 30%; }
      #advantages ul li:hover {
        background: #383737;
        border-color: #383737;
        color: white; }
      #advantages ul li#acceleration:before {
        content: url(../images/accelerate.svg); }
      #advantages ul li#simplification:before {
        content: url(../images/simplify.svg); }
      #advantages ul li#recoverate:before {
        content: url(../images/recoverate.svg); }
      #advantages ul li#time:before {
        content: url(../images/time.svg); }
      #advantages ul li#optimization:before {
        content: url(../images/optimization.svg); }
      #advantages ul li#rationalization:before {
        content: url(../images/rationalization.svg); }

#features {
  background: #fff;
  color: #383737;
  margin: 0 auto;
  max-width: 1200px; }
  #features > * {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-right: 40%; }
  #features h2 {
    background: url(../images/computer2.png) #faba49 no-repeat 120% 100%;
    color: #383737;
    line-height: 1.5em;
    margin: -25px;
    max-width: none;
    padding: 2em 16em 2em 2em;
    text-align: left; }
    #features h2:after {
      color: #383737; }
  #features dl {
    padding: 2em 5em; }
  #features dt {
    color: #111111;
    display: list-item;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 1.618em;
    list-style-type: decimal; }
  #features dd {
    font-size: 1.1em;
    line-height: 2em;
    margin: 0; }

#numbers {
  /*align-items: center*/
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2em auto;
  position: relative;
  width: 1200px; }
  #numbers h2 {
    background: #383737;
    color: #fff;
    flex: 1 50%;
    line-height: 1.5em;
    margin: -25px;
    padding: 1em;
    text-align: left; }
  #numbers p:first-of-type {
    background: #383737;
    color: #fff;
    flex: 1 50%;
    font-size: 1.2em;
    line-height: 1.2em;
    margin: -25px;
    padding: 2em 0;
    text-align: center; }
    #numbers p:first-of-type strong {
      color: #faba49;
      display: block;
      font-size: 4em;
      font-weight: normal;
      margin: 0.5em; }
  #numbers h3 {
    font-weight: 500;
    margin: 0 -25px;
    max-width: 300px;
    padding: 3em 1em; }
  #numbers ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
    padding: 0; }
    #numbers ul li {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding: 1em;
      text-align: center; }
      #numbers ul li strong {
        font-size: 2.5em;
        font-weight: 400;
        line-height: 2em; }
    #numbers ul#brake li {
      margin: 1em 2%; }
      #numbers ul#brake li:nth-child(1), #numbers ul#brake li:nth-child(2), #numbers ul#brake li:nth-child(3) {
        width: 29.3%; }
      #numbers ul#brake li:nth-child(1) strong {
        background: url(../images/circle1.svg) no-repeat center;
        color: #499cfb;
        padding: 1em; }
      #numbers ul#brake li:nth-child(2) strong {
        background: url(../images/circle2.svg) no-repeat center;
        color: #fb6e62;
        padding: 1em; }
      #numbers ul#brake li:nth-child(3) strong {
        background: url(../images/circle3.svg) no-repeat center;
        color: #faba49;
        padding: 1em; }
    #numbers ul#wait {
      align-items: stretch; }
      #numbers ul#wait li {
        background: #faba49;
        width: 33.3%; }
        #numbers ul#wait li:nth-child(2) {
          background: #f9b130; }
        #numbers ul#wait li:nth-child(3) {
          background: #f9a717; }
  #numbers p {
    text-align: center;
    width: 100%; }
    #numbers p:nth-of-type(2) {
      font-size: 0.8em; }
      #numbers p:nth-of-type(2) a {
        color: #00a071;
        text-decoration: none;
        transition: color 0.3s; }
        #numbers p:nth-of-type(2) a:hover {
          color: #00ba83; }
    #numbers p:nth-of-type(3) {
      font-size: 2.2em;
      line-height: 1.5em; }
      #numbers p:nth-of-type(3) strong {
        color: #faba49;
        display: block;
        font-weight: 600; }

#plus {
  background: #fff;
  box-sizing: border-box;
  margin: 0 auto 2em;
  max-width: 1200px;
  padding-bottom: 0; }
  #plus dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1150px;
    margin: auto;
    padding: 0;
    position: relative; }
    #plus dl:before {
      background: lightgrey;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 50%;
      width: 100%; }
    #plus dl dt {
      border-right: 1px solid lightgrey;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      font-size: 1.2em;
      font-weight: 500;
      height: 300px;
      line-height: 60px;
      margin: 0 -0.5px;
      padding: 1em;
      text-align: center;
      width: 400px; }
      #plus dl dt:before {
        display: block;
        margin: 0 auto;
        height: 100px;
        width: 80px; }
      #plus dl dt:nth-of-type(2), #plus dl dt:nth-of-type(4) {
        border-right: none; }
      #plus dl dt#security:before {
        content: url(../images/security.svg); }
      #plus dl dt#web:before {
        content: url(../images/web.svg); }
      #plus dl dt#responsive:before {
        content: url(../images/responsive.svg);
        width: 100px; }
      #plus dl dt#pharmacy:before {
        content: url(../images/pharmacy.svg); }
    #plus dl dd {
      box-sizing: border-box;
      height: 300px;
      margin-left: -398px;
      padding: 170px 3em 0;
      text-align: center;
      width: 398px; }
  #plus p {
    background: #faba49;
    box-sizing: border-box;
    line-height: 2em;
    font-size: 1.5em;
    margin: 2em -25px 0;
    padding: 2em 2em 0 2em;
    text-align: center;
    position: relative; }
    #plus p:before {
      content: "";
      background: #fff;
      display: block;
      height: 40px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      transform: rotate(45deg);
      top: -25px;
      -webkit-transform: rotate(45deg);
      width: 50px; }
    #plus p strong {
      display: block; }
    #plus p a {
      background: #383737;
      color: #fff;
      display: inline-block;
      margin: 1em 0 0 0;
      padding: 0.5em 1em;
      text-decoration: none; }

#offre {
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 2em;
  min-width: 1200px; }
  #offre h2 {
    line-height: 1.5em;
    margin-top: 0; }
    #offre h2 strong {
      color: #faba49;
      display: block;
      font-weight: 500; }
    #offre h2:before {
      content: url(../images/logo.svg);
      display: block;
      margin: 0 auto;
      width: 150px; }
  #offre ul {
    font-size: 1.3em;
    line-height: 2.5em;
    margin: 0 auto;
    padding-left: 0; }
    #offre ul li a {
      color: #00a071;
      text-decoration: none;
      transition: color 0.3s; }
      #offre ul li a:hover {
        color: #00ba83; }

#contact {
  /*align-items: center*/
  background: #383737;
  color: white;
  display: flex;
  /*flex-direction: column*/
  flex-wrap: wrap;
  justify-content: center; }
  #contact h2 {
    flex: 1 100%;
    margin-top: 1em; }
  #contact strong {
    color: #faba49; }
  #contact article {
    line-height: 2.5em;
    margin: 0 2em;
    max-width: 600px; }
    #contact article h3 {
      font-size: 1.3em;
      font-weight: 600;
      margin: 0; }
    #contact article ul {
      font-size: 1.1em;
      list-style: none;
      margin: 0;
      padding-left: 0; }
    #contact article:last-of-type ul li {
      border: 1px solid #faba49;
      margin: 0.5em 0;
      padding: 0.5em 1em;
      text-align: center; }
      #contact article:last-of-type ul li:hover {
        background: #faba49; }
  #contact form {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em 15em; }
    #contact form label {
      display: none; }
    #contact form input, #contact form textarea {
      border: none;
      font-family: Work Sans;
      margin: 1em 0;
      outline: none;
      padding: 1em; }
    #contact form textarea {
      height: 5em;
      width: 100%; }
    #contact form input {
      flex: 1 100%; }
      #contact form input[type="submit"] {
        background: #faba49;
        cursor: pointer;
        flex: 0;
        font-weight: 600;
        transition: background 0.3s; }
        #contact form input[type="submit"]:hover {
          background: #fbc362; }

footer {
  background: #faba49; }
  footer a {
    color: inherit;
    text-decoration: inherit; }

/*# sourceMappingURL=../static/css/style.sass.css.map */