{% extends "_layout.jinja2" %}

{% block content %}
  <article id="formation">
    <h2>Les formations</h2>
    <section id="certification">
      <p>Back Office Services est agréé organisme de formation. Les formations sur la gestion du tiers-payant peuvent être financées par l'OPCA.</p>
      <a href="mailto:backoffice@lagestiondutierspayant.fr">Demander les programmes de formation</a>
    </section>
    <section id="organism">
      <ul>
        <li>Numéro Organisme Formation</li>
        <li>846 914 834 69</li>
        <li>Préfecture de Lyon</li>
      </ul>
    </section>

    <section id="lessons">
      <section id="novice">
        <h3>Gestion du tiers-payant pour les néophytes</h3>
        <p>35h</p>
        <h4>Objectifs de la formation</h4>
        <p>La formation "Gestion du tiers-payant pour les néophytes" a pour but d'enseigner les bases du tiers-payant et de donner les clés utiles à sa gestion.</p>
        <h4>Public visé</h4>
        <p>Tout public</p>
        <a href="mailto:backoffice@lagestiondutierspayant.fr">S'inscrire</a>
      </section>
      <section id="confirmed">
        <h3>Gestion du tiers-payant niveau intermédiaire</h3>
        <p>14h</p>
        <h4>Objectifs de la formation</h4>
        <p>Cette formation permet d'approfondir les connaissances des personnes qui font déjà partie du milieu de la pharmacie d'officine.</p>
        <h4>Public visé</h4>
        <ul>
          <li>Pharmaciens</li>
          <li>Préparateurs en pharmacie</li>
          <li>Secrétaires en pharmacie...</li>
        </ul>
        <a href="mailto:backoffice@lagestiondutierspayant.fr">S'inscrire</a>
      </section>
      <section id="reject">
        <h3>Gestion des rejets / erreurs comptoir</h3>
        <p>7h</p>
        <h4>Objectifs de la formation</h4>
        <p>La formation "Gestion des rejets / erreurs comptoir" donne les clés de la gestion du tiers-payant et une méthode de traitement des rejets.
          Elle va aussi permettre aux participants d'améliorer la délivrance au comptoir pour éviter les rejets.</p>
        <h4>Public visé</h4>
        <ul>
          <li>Pharmaciens</li>
          <li>Préparateurs en pharmacie</li>
          <li>Secrétaires en pharmacie...</li>
        </ul>
        <a href="mailto:backoffice@lagestiondutierspayant.fr">S'inscrire</a>
      </section>
    </section>
  </article>
{% endblock content %}
