{% extends "_layout.jinja2" %}

{% block content %}
  <section id="certification">
    <h2>Formation</h2>
    <p>Back Office Services est agréé organisme de formation. Les formations sur la gestion du tiers-payant peuvent être financées par l'OPCO.</p>
    <p>Les formations Backoffice sont référencées sur <a href="https://www.data-dock.fr/" target="_blank">Datadock</a></p>
    <a href="../static/pdf/catalogue_formations.pdf">Télécharger le catalogue de formations</a>
  </section>

  <section id="lessons">
    <section id="lessons-container">

      <section id="novice">
        <p>Formation à distance</p>
        <p>35h</p>
        <h3>Gestion du tiers-payant pour les néophytes</h3>
        <h4>Objectifs de la formation</h4>
        <p>La formation "Gestion du tiers-payant pour les néophytes" a pour but d'enseigner les bases du tiers-payant et de donner les clés utiles à sa gestion.</p>
        <h4>Prérequis</h4>
        <p>Aucun prérequis n'est nécessaire</p>
        <h4>Nombre de participants</h4>
        <p>3 minimum / 6 maximum</p>
        <a href="{{ url_for('page', page='contact') }}#contact">Demander un devis</a>
      </section>

      <section id="confirmed">
        <p>Formation à distance</p>
        <p>14h</p>
        <h3>Gestion du tiers-payant niveau intermédiaire</h3>
        <h4>Objectifs de la formation</h4>
        <p>Cette formation permet d'approfondir les connaissances des personnes qui font déjà partie du milieu de la pharmacie d'officine.</p>
        <h4>Prérequis</h4>
        Public :
        <ul>
          <li>Pharmaciens</li>
          <li>Préparateurs en pharmacie</li>
          <li>Secrétaires en pharmacie</li>
        </ul>
        <h4>Nombre de participants</h4>
        <p>3 minimum / 6 maximum</p>
        <a href="{{ url_for('page', page='contact') }}#contact">Demander un devis</a>
      </section>

      <section id="reject">
        <p>Formation à distance</p>
        <p>7h</p>
        <h3>Gestion des rejets / erreurs comptoir</h3>
        <h4>Objectifs de la formation</h4>
        <p>La formation "Gestion des rejets / erreurs comptoir" donne les clés de la gestion du tiers-payant et une méthode de traitement des rejets.
          Elle va aussi permettre aux participants d'améliorer la délivrance au comptoir pour éviter les rejets.</p>
        <h4>Prérequis</h4>
        Public :
        <ul>
          <li>Pharmaciens</li>
          <li>Préparateurs en pharmacie</li>
          <li>Secrétaires en pharmacie</li>
        </ul>
        <h4>Nombre de participants</h4>
        <p>6 maximum (d'une seule pharmacie)</p>
        <a href="{{ url_for('page', page='contact') }}#contact">Demander un devis</a>
      </section>

    <p>Pour plus d'informations, <a href="{{ url_for('page', page='contact') }}#contact">contactez-nous.</a></p>
    </section>
  </section>

  <section id="formation_complementary_informations">
    <h2>Informations complémentaires</h2>
    <dl>
      <dt>Tarifs</dt>
      <dd>À partir de 250€ HT / heure</dd>
      <dt>Méthodes et modalités d'évaluation</dt>
      <dd>Pédagogie participative avec alternance d'exposés théoriques et évaluations à chaque fin de module. Annexe documentaire et/ou présentation du formateur envoyés par mail sur demande.</dd>
      <dt>Accessibilité aux personnes en situation de handicap</dt>
      <dd>Si vous souhaitez nous faire part d'un handicap, merci de nous contacter afin que nous adaptions au mieux notre formation à vos besoins.</dd>
      <dt>Planning</dt>
      <dd>Date à définir avec le(s) participant(s)</dd>
      <dt>Numéro Organisme de Formation</dt>
      <dd>846 914 834 69 - Préfecture de Lyon</dd>
    </dl>
  </section>

  <section id="formation_statistics">
    <ul>
      <li><span>96%</span> taux de satisfaction des stagiaires</li>
      <li><span>245 heures</span> de formations dispensées</li>
      <li><span>3</span> formations pour améliorer la gestion de son tiers-payant</li>
      <li><span>15 ans</span> d'expérience dans le secteur de la pharmacie</li>
    </ul>
  </section>

{% endblock content %}
