{% extends "_layout.jinja2" %}

{% block content %}
    <header>
      <section id="introduction">
        <article>
          <h2>Simplifiez la gestion de votre tiers-payant</h2>
          <p> Externalisez la gestion de votre tiers-payant et suivez l'évolution du montant
            de vos impayés en toute autonomie avec la plateforme Backoffice,
            développée par <a href="https://kozea.fr/" target="_blank">Kozea group</a>.
          </p>
          <p>Toutes nos prestations sont réalisées en France</p>
        </article>
      </section>
      <article id="diagnosis">
        <h3>Profitez d'un diagnostic rapide et sans engagement !</h3>
        <a href="{{ url_for('page', page='contact') }}#contact" id="contact_ask">Nous contacter</a>
      </article>
    </header>

    <section id="presentation">
      <h2>Les services proposés par Backoffice</h2>
      <ul>
        <li class="feature_webtool">
          <strong>Un outil web adapté pour une gestion en interne</strong>Avec un contrôle simple et rapide de vos rejets.
          <a href="{{ url_for('page', page='intern') }}">En savoir plus</a>
        </li>
        <li class="feature_outsourcing">
          <strong>Un service d'externalisation pour plus d'autonomie</strong>Les avantages d'une délégation complète pour plus de liberté.
          <a href="{{ url_for('page', page='outsourcing') }}">En savoir plus</a>
        </li>
        <li class="feature_formation">
          <strong>Vous souhaitez être formé au tiers-payant ?</strong>Découvrez l'ensemble de nos offres de formation.
          <a href="{{ url_for('page', page='formation') }}">En savoir plus</a>
        </li>
        <li class="feature_association">
          <strong>Offre groupement</strong>Mutualisez votre gestion de tiers-payant.
          <a href="{{ url_for('page', page='outsourcing') }}#association">En savoir plus</a>
        </li>
      </ul>
    </section>

    <section id="video">
      <h2>Comment ça marche ?</h2>
      <p>Découvrez la vidéo de présentation de Backoffice, les solutions de gestion du tiers-payant.</p>
      <a href="https://youtu.be/Xhf10RkEvwY" target="_blank">Vidéo youtube de présentation</a>
    </section>

    <section class="advantages">
      <h2>Gestion en interne ou en délégation, les avantages pour votre pharmacie</h2>
      <ul>
        <li id="time"><strong>Gain de temps</strong> moins d'administratif, plus de temps pour vos patients.</li>
        <li id="recoverate"><strong>Récupération</strong> rapide de trésorerie.</li>
        <li id="acceleration"><strong>Accélération</strong> des délais d'encaissement.</li>
        <li id="rationalization"><strong>Rationnalisation</strong> du temps passé en back-office.</li>
        <li id="simplification"><strong>Simplification</strong> du suivi des impayés au sein de l'officine : passerelle avec le concentrateur.</li>
        <li id="optimization"><strong>Optimisation</strong> au comptoir de la gestion du Tiers-Payant.</li>
      </ul>
    </section>

    <section id="whitepaper-presentation">
      <section id="whitepaper-presentation_container">
        <article>
          <h2>Comment redonner de la valeur au métier de pharmacien en optimisant la gestion du tiers-payant ?</h2>
          <p>Ce livre blanc s'adresse aux pharmaciens d'officine à la recherche d'informations pertinentes
          pour mieux gérer leur tiers-payant. Il propose des solutions pratiques pour une récupération
          rapide de trésorerie et pharmacie.
          </p>
          <a href="{{ url_for('page', page='whitepaper') }}" id="white_book">Télécharger le livre blanc</a>
        </article>
        <img src="../static/images/livre-blanc.jpg">
      </section>
    </section>

    <section id="testimonials">
      <h2>Témoignages</h2>
      <article>
        <h3>Pharmacie du Val d'Yerres</h3>
        <h4>Thierry ABISROR 91480 QUINCY-SOUS-SENART</h4>
        <p>
          <strong>Je suis très satisfait des services proposés par Backoffice. La prise en main est rapide et efficace.</strong>
        </p>
        <p>
          L’équipe de Backoffice maitrise parfaitement les relations avec les organismes sociaux ainsi que les LGO.
          Ils savent travailler avec l’ensemble de l’équipe officinale.
        </p>
        <p>
          Avec Backoffice, j’ai diminué le dû de mon tiers-payant et les rejets sont en nette régression.
          Les gestionnaires du tiers-payant de Backoffice sont toujours très explicites sur le temps effectif de travail.
        </p>
        <p>
          J’apprécie la fiabilité de l’équipe grâce à son professionnalisme.
          L’équipe a su être là lors de changements importants à la pharmacie (changement de logiciel et des numéros d’identification de la pharmacie).
          Bravo à toute l’équipe !
        </p>
      </article>

      <article>
        <h3>Pharmacie de la Mède</h3>
        <h4>Pascal CORNUEL 13220 LA MEDE</h4>
        <p>
          <strong>Avec Backoffice, nous avons pu dégager du temps en ne nous occupons plus des contraintes du tiers-payant.</strong>
        </p>
        <p>
          Les relances courriers faites par l’équipe de Backoffice sont très efficaces car les clients régularisent très vite.
        </p>
        <p>
          Nous avons constaté une réelle baisse des impayés et des rejets : grâce à l’outil de suivi Backoffice,
          les employés connaissent leurs erreurs et peuvent donc les rectifier, ce qui permet une diminution des rejets.
        </p>
        <p>
          Avec l’équipe de gestionnaires de tiers-payant Backoffice, je connais parfaitement le suivi des intervenants.
          C’est une équipe très sympathique, à notre écoute et qui nous a toujours très bien reçus.
        </p>
      </article>
    </section>
{% endblock content %}
