{% extends "_layout.jinja2" %}

{% block content %}
    <header>
      <h1>Backoffice</h1>
      <section id="introduction">
        <h2>Simplifiez la gestion de votre Tiers-Payant</h2>
        <ul>
          <li>Plateforme de gestion du Tiers-Payant développée en exclusivité par <a href="https://kozea.fr/">Kozea Group</a>.</li>
          <li>Suivez et contrôlez vos rejets et impayés en toute autonomie ou optez pour l'externalisation.</li>
          <li>Conçue en collaboration avec des pharmaciens.</li>
        </ul>
        <a href="{{ url_for('page', page='contact') }}#contact" id="contact_ask">Demande de contact</a>
        <a href="{{ url_for('page', page='whitepaper') }}" id="white_book">Télécharger le livre blanc</a>
        <p>A partir de <strong>29,90€*</strong> par mois <strong>sans engagement</strong></p>
      </section>
    </header>

    <section id="presentation">
      <h2>Les services proposés par Backoffice</h2>
      <ul>
        <li class="feature_webtool">
          <strong>Un outil web adapté pour une gestion en interne</strong>Avec un contrôle simple et rapide de vos rejets.
          <a href="{{ url_for('page', page='intern') }}">En savoir plus</a>
        </li>
        <li class="feature_outsourcing">
          <strong>Un service d'externalisation pour plus d'autonomie</strong>Les avantages d'une délégation complète pour plus de liberté.
          <a href="{{ url_for('page', page='outsourcing') }}">En savoir plus</a>
        </li>
        <li class="feature_formation">
          <strong>Vous souhaitez être formé au tiers-payant ?</strong>Découvrez l'ensemble de nos offres de formation.
          <a href="{{ url_for('page', page='formation') }}">En savoir plus</a>
        </li>
        <li class="feature_association">
          <strong>Offre groupement</strong>Mutualisez votre gestion de tiers-payant.
          <a href="{{ url_for('page', page='outsourcing') }}#association">En savoir plus</a>
        </li>
      </ul>
    </section>

    <section id="video">
      <h2>Comment ça marche ?</h2>
      <p>Découvrez la vidéo de présentation de Backoffice, les solutions de gestion du tiers-payant.</p>
      <a href="https://youtu.be/Xhf10RkEvwY" target="_blank">Vidéo youtube de présentation</a>
    </section>

    <section id="advantages">
      <h2>Gestion en interne ou en délégation, les avantages pour votre pharmacie</h2>
      <ul>
        <li id="time"><strong>Gain de temps</strong> moins d'administratif, plus de temps pour vos patients.</li>
        <li id="recoverate"><strong>Récupération</strong> rapide de trésorerie.</li>
        <li id="acceleration"><strong>Accélération</strong> des délais d'encaissement.</li>
        <li id="rationalization"><strong>Rationnalisation</strong> du temps passé en back-office.</li>
        <li id="simplification"><strong>Simplification</strong> du suivi des impayés au sein de l'officine : passerelle avec le concentrateur.</li>
        <li id="optimization"><strong>Optimisation</strong> au comptoir de la gestion du Tiers-Payant.</li>
      </ul>
    </section>
{% endblock content %}
