<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teepy - La gestion du tiers payant</title>
    <link type="image/png" rel="icon" href="/static/images/favicon.png" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.sass.css') }}" />
  </head>

  <body>
    <h1>Teepy</h1>

    <nav>
      <ul>
        <li><a href="#advantages">Les avantages</a></li>
        <li><a href="#features">Fonctionnalités</a></li>
        <li><a href="#numbers">Quelques chiffres</a></li>
        <li><a href="#plus">Les plus Teepy</a></li>
        <li><a href="#offre">Offre</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

    <section id="introduction">
      <h2>Simplifiez la gestion de votre tiers payant</h2>
      <ul>
        <li>Plateforme de gestion de Tiers-Payant développée en exclusivité par <a href="https://kozea.fr/"> Kozea Group.</a></li>
        <li>Suivi et contrôle des rejets et impayés en toute autonomie.</li>
        <li>Conçu en collaboration avec des pharmaciens.</li>
      </ul>
      <p> Pour seulement <strong>29,90 € par mois</strong></p>
    </section>

    <section id="advantages">
      <h2>Les avantages pour votre pharmacie</h2>
      <ul>
        <li id="time"><strong>Gain de temps</strong> moins d'administratif, plus de temps avec vos patients.</li>
        <li id="recoverate"><strong>Récupération</strong> rapide de trésorerie.</li>
        <li id="acceleration"><strong>Accélération</strong> des délais d'encaissement.</li>
        <li id="rationalization"><strong>Rationnalisation</strong> du temps passé en back-office.</li>
        <li id="simplification"><strong>Simplification</strong> du suivi des impayés au sein de l'officine.</li>
        <li id="optimization"><strong>Optimisation</strong> au comptoir de la gestion du tiers payant.</li>
      </ul>
    </section>

    <section id="features">
      <h2>Des fonctionnalités adaptées pour une gestion simplifiée du tiers payant</h2>
      <dl>
        <dt>Suivi et contrôle des impayés</dt>
        <dd>Définissez les alertes et relances jusqu'au règlement.</dd>
        <dt>Interopérabilité</dt>
        <dd>Teepy est accessible par l'équipe officinale ou par un opérateur intervenant au sein de la pharmacie sur n'importe quel ordinateur.</dd>
        <dt>Accès à une base de courriers</dt>
        <dd>Des courriers de relance sont prédéfinis et l'édition est automatisée.</dd>
        <dt>Tri par mutuelle et régime obligatoire</dt>
        <dd>Pour une meilleure lecture des rejets par organismes payeurs.</dd>
        <dt>Suivi statistique</dt>
        <dd>Pour contrôler les motifs de rejet et l'évolution de votre Tiers-Payant.</dd>
      </dl>
    </section>

    <section id="numbers">
      <h2>Quelques chiffres sur le Tiers-Payant</h2>
      <p><strong>80 %</strong> du chiffre d'affaires d'une officine concerne le tiers payant.</p>
      <h3>Principaux freins rencontrés dans la gestion du tiers payant</h3>
      <ul id="brake">
        <li><strong>24 %</strong> manque de temps</li>
        <li><strong>30 %</strong> complexité des démarches</li>
        <li><strong>28 %</strong> gestion du tiers payant trop chronophage</li>
      </ul>
      <h3>Attentes du pharmacien en matière de Tiers-Payant</h3>
      <ul id="wait">
        <li><strong>96 %</strong> souhaitent réduire le temps passé à la gestion du tiers payant</li>
        <li><strong>58 %</strong> aimeraient connaître le temps exact passé au global et par intervenant sur le tiers payant</li>
        <li><strong>69 %</strong> ne souhaitent pas externaliser la gestion du tiers payant</li>
      </ul>
      <p>Enquête réalisée auprès de 378 pharmaciens sur les sites internet <a href="https://www.pharminfo.fr/">Pharminfo.fr</a>.</p>
      <p>Avec Teepy, <strong>redonnez de la valeur à votre métier de pharmacien !</strong></p>
    </section>

    <section id="plus">
      <h2>Les plus Teepy</h2>
      <dl>
        <dt id="web">Teepy est un outil web</dt>
        <dd>pas besoin d'installation de logiciel, suivi sur tous les outils</dd>
        <dt id="responsive">Site web responsive</dt>
        <dd>consultation à distance à partir d'un smartphone, d'une tablette</dd>
        <dt id="security">Sécurité des données</dt>
        <dd>données hébergées https et Grita</dd>
        <dt id="pharmacy">Connaissance</dt>
        <dd>de l'univers de la pharmacie</dd>
      </dl>
      <p>Besoin d'une prise en charge complète de votre tiers payant ? <strong>Nous vous proposons un accompagnement personnalisé par un gestionnaire Teepy qualifié.</strong><a href="#contact">Contactez-nous !</a></p>
    </section>

    <section id="offre">
      <h2>Gérez vous-même votre Tiers-Payant <strong>pour seulement 29,90€/mois !</strong></h2>
      <ul>
        <li>Bénéficiez d'un site Internet <a href="https://www.pharminfo.fr/">Pharminfo.fr</a> gratuit</li>
        <li>Suivi et contrôle des impayés</li>
        <li>Interopérabilité</li>
        <li>Accès à la base de courriers</li>
        <li>Tri des rejets par organismes payeurs</li>
      </ul>
    </section>

    <section id="contact">
      <h2>Contact</h2>
      <article>
        <h3>Informations</h3>
        <ul>
          <li>107, Boulevard de Stalingrad</li>
          <li>69100 Villeurbanne</li>
          <li>04 04 04 04 04 - teepy@contact.fr</li>
        </ul>
      </article>
      <article>
        <ul>
          <li>Contactez notre service commercial</li>
          <li>Contactez notre support technique</li>
          <li>Pour tout autre demande</li>
        </ul>
      </article>
      <form>
        <label for="name">Nom</label>
        <input id="name" name="name" placeholder="Nom" />
        <label for="firstname">Prénom</label>
        <input id="firstname" name="firstname" placeholder="Prénom" />
        <label for="phone">Téléphone</label>
        <input type="tel" id="phone" name="phone" placeholder="Téléphone" />
        <label for="email">Email</label>
        <input id="name" name="name" placeholder="Email" />
        <textarea name="texte" placeholder="Votre message"></textarea>
        <input type="submit" value="Envoyer" />
      </form>
    </section>

    <footer>
      <ul>
        <li><a href="/legal.html">Informations légales</a></li>
        <li><a href="https://kozea.fr/">Kozea</a></li>
        <li><a href="https://www.pharminfo.fr/">Pharminfo.fr</a></li>
      </ul>
    </footer>
  </body>
</html>
