{% extends "_layout.jinja2" %}

{% block content %}
    <section id="features">
      <h2>Des fonctionnalités adaptées pour une gestion simplifiée du Tiers-Payant</h2>
      <dl>
        <dt>Suivi et contrôle des impayés</dt>
        <dd>Vous pouvez définir des alertes et relances jusqu'au règlement.</dd>
        <dt>Interopérabilité</dt>
        <dd>Backoffice est accessible par l'équipe officinale ou par un opérateur intervenant au sein de la pharmacie sur n'importe quel ordinateur.</dd>
        <dt>Suivi statistique</dt>
        <dd>Vous contrôlez les motifs de rejet et l'évolution de votre Tiers-Payant.</dd>
        <dt>Accès à une base de courriers</dt>
        <dd>Backoffice vous propose des courriers de relance prédéfinis avec archivage de ceux-ci.</dd>
        <dt>Tri</dt>
        <dd>Seules les factures à traiter apparaissent dans le logiciel, plus besoin de trier les papiers.</dd>
      </dl>
    </section>

    <section id="plus">
      <h2>Les plus Backoffice</h2>
      <h3>Des offres flexibles et adaptées à vos besoins en matière de Tiers-Payant.</h3>
      <dl>
        <dt id="web">Un outil web</dt>
        <dd>Accessible sur tous les supports (tablette, smartphone, PC) et de partout.</dd>
        <dt id="security">Sécurité des données</dt>
        <dd>La plateforme est sécurisée à l'aide du protocole HTTPS.</dd>
        <dt id="responsive">Site web responsive</dt>
        <dd>La plateforme s'adapte automatiquement à la résolution de l'écran (smartphone, tablette...).</dd>
        <dt id="pharmacy">Connaissance</dt>
        <dd>Toute notre équipe est spécialiste de l'univers de la pharmacie</dd>
      </dl>
    </section>

    <section id="demo">
      <h2>Découvrir Backoffice</h2>
      <p>Vous souhaitez un aperçu de l'outil Backoffice ?<strong>Contactez-nous !</strong></p>
      <a>Demande de démonstration</a>
    </section>
{% endblock content %}
