{% extends "_layout.jinja2" %}

{% block content %}
    <section id="legal">
      <h2>Mentions légales</h2>

      <dl>
        <dt>Hébergeur</dt>
        <dd>Online, BP 438, 75366 Paris CEDEX 08, 01 84 13 00 00</dd>
        <dt>Responsable de la publication</dt>
        <dd>Philippe Donadieu</dd>
      </dl>

      <h3>Kozea Group</h3>
      <dl>
        <dt>Raison sociale</dt>
        <dd>Pegasus Network</dd>
        <dt>Forme juridique</dt>
        <dd>S.A.S.</dd>
        <dt>SIREN</dt>
        <dd>813 145 455</dd>
        <dt>Adresse</dt>
        <dd>107 boulevard Stalingrad, 69100 Villeurbanne</dd>
        <dt>Capital social</dt>
        <dd>972 400 €</dd>
        <dt>Numéro de TVA intracommunautaire</dt>
        <dd>FR61 813145455</dd>
      </dl>
    </section>
{% endblock content %}
