{% extends "_layout.jinja2" %}

{% block content %}
  <section id="legal">
    <h2>Mentions légales</h2>

    <dl>
      <dt>Hébergeur</dt>
      <dd>Online, BP 438, 75366 Paris CEDEX 08, 01 84 13 00 00</dd>
      <dt>Responsable de la publication</dt>
      <dd>Philippe Donadieu</dd>
    </dl>

    <h3>Back Office Services</h3>
    <dl>
      <dt>Raison sociale</dt>
      <dd>Back Office Services</dd>
      <dt>Forme juridique</dt>
      <dd>S.A.S.U</dd>
      <dt>SIREN</dt>
      <dd>822 732 236 RCS Lyon</dd>
      <dt>Adresse</dt>
      <dd>107 boulevard Stalingrad, 69100 Villeurbanne</dd>
      <dt>Capital social</dt>
      <dd>5 000,00 €</dd>
      <dt>Numéro de TVA intracommunautaire</dt>
      <dd>FR 01 822732236</dd>
      <dt>Numéro d'organisme de formation</dt>
      <dd>846 914 834 69 - Préfecture de Lyon</dd>
    </dl>

    <h2>Conditions Générales d'Utilisation</h2>

    <p>
      Télécharger les <a href="../static/pdf/CGU.pdf">Conditions Générales
      d'Utilisation</a>.
    </p>

    <h2>Pratiques en matière de respect de la vie privée</h2>

    <p>
      Le Règlement Général de Protection des données (RGPD) entré en vigueur le
      25 mai 2018, définit les principes à respecter lors de la collecte, du
      traitement et de la conservation de données personnelles. Il garantit
      aussi les droits pour les personnes concernées.
    </p>

    <p>
      Back Office Services est une société du groupe Pegasus Network.
    </p>

    <p>
      Les informations récoltées peuvent être utilisées par Back Office
      Services et par toute autre structure de Pegasus Network.
    </p>

    <p>
      Plusieurs formulaires sont présents sur le site
      www.lagestiondutierspayant.fr afin de collecter les données d’un
      visiteur.
    </p>

    <h3>Objectifs</h3>
    <p>
      Le recueil des données sur le site www.lagestiondutierspayant.fr a pour
      objectif de constituer un fichier de gestion des prospects et clients
      pour la société Pegasus Network. Ce fichier est utilisé pour contacter
      et/ou proposer des offres adaptées aux contacts.
    </p>

    <h3>Données à caractère personnel</h3>
    <p>
      Afin de suivre au mieux l’intérêt porté par les prospects et clients de
      Pegasus Network, le fichier recueille toutes informations des visiteurs
      du site www.lagestiondutierspayant.fr relatives à l’identité et aux
      informations professionnelles.
    </p>

    <h3>Licéité du traitement et conditions applicables au consentement (art. 8 et art. 9 du RGPD)</h3>
    <p>
      Le consentement du traitement de données à caractère personnel d’un
      visiteur est systématiquement obtenu dans le but de faire partie de notre
      base de prospection pour lui proposer des informations et des offres
      susceptibles de l’intéresser.
    </p>

    <h3>Conservation des données</h3>
    <p>
      Les données recueillies sur le site www.lagestiondutierspayant.fr sont
      conservées pour une durée maximale de 3 ans pour les contacts prospects
      après leur dernière activité sur le site web par la personne. À l’issue
      de ces périodes, toutes les données relatives à la personne sont
      automatiquement supprimées.
    </p>

    <h3>Droits des personnes (art. 14 à art. 18 du RGPD)</h3>
    <p>
      Conformément à la loi informatique et libertés et au RGPD, toute personne
      peut exercer son droit d’accès, de rectification, d’opposition, à la
      limitation des traitements, à la suppression et la portabilité des
      données le concernant en faisant une demande signée et accompagnée de la
      copie d’un titre d’identité par mail à l’adresse
      <a href="backoffice@lagestiondutierspayant.fr">backoffice@lagestiondutierspayant.fr</a>
      ou par courrier à l’adresse du siège social de Pegasus Network à
      l’adresse suivante : 107 boulevard Stalingrad 69100 Villeurbanne. Le
      responsable du fichier, effectuera une réponse au plus tard dans le mois
      suivant la demande d’accès ou de rectification.
    </p>

    <h3>Sécurité des données et traitements (art. 29 du RGPD)</h3>
    <p>
      Les données recueillies sur le site www.lagestiondutierspayant.fr et les
      traitements associés, sont hébergées par la société Online.
    </p>
    <p>
      Seules les personnes liées au service technique, marketing et commercial
      de la société Pegasus Network ont accès aux informations recueillies sur
      le site www.lagestiondutierspayant.fr.
    </p>

    <h3>Atteinte aux données et communication sous 72h (art. 30 et art. 31 du RGPD)</h3>
    <p>
      En cas de violation ou suspicion de violation de données à caractères
      personnels, Pegasus Network notifiera la CNIL, 72h au plus tard, après en
      avoir pris connaissance. Enfin, le cas échéant, l’utilisateur sera
      informé de la nature de la violation ainsi que sa portée et les moyens
      mis en œuvre pour résoudre l’incident.
    </p>
  </section>
{% endblock content %}
