{% extends "_layout.jinja2" %}

{% block content %}
    <section id="income">
      <p>Quelques chiffres sur le tiers-payant</p>
      <p>80% du chiffre d'affaires d'une officine concerne le tiers-payant</p>
    </section>
    <section id="brake">
      <h3>Principaux freins rencontrés dans la gestion du tiers-payant</h3>
      <ul>
        <li><strong>30 %</strong> complexité des démarches administratives</li>
        <li><strong>28 %</strong> gestion du Tiers-Payant trop chronophage</li>
      </ul>
    </section>
    <section id="wait">
      <h3>Attentes du pharmacien en matière de Tiers-Payant</h3>
      <ul>
        <li><strong>65 %</strong> rencontrent des difficultés dans la gestion du Tiers-Payant</li>
        <li><strong>96 %</strong> souhaitent réduire le temps passé à la gestion du Tiers-Payant</li>
      </ul>
    </section>
    <section id="hidden_cost">
      <h3>Selon l'étude de l'USPO</h3>
      <p>Les coûts cachés de gestion du tiers-payant</p>
      <ul>
        <li><strong>13 246 €/an</strong> si géré par un préparateur ou une secrétaire</li>
        <li><strong>28 604 €/an</strong> si géré par un pharmacien</li>
      </ul>
    </section>
    <p>Enquête réalisée auprès de 378 pharmaciens sur les sites Internet <a href="https://www.pharminfo.fr/">Pharminfo.fr</a>.</p>
    <p>Étude 2016</p>
{% endblock content %}
