{% extends "_layout.jinja2" %}

{% block content %}
  <article id="numbers">
    <section id="income">
      <p>Quelques chiffres sur le tiers-payant</p>
      <p>80% du chiffre d'affaires d'une officine concerne le tiers-payant</p>
    </section>
    <section id="brake">
      <h3>Principaux freins rencontrés dans la gestion du tiers-payant</h3>
      <ul>
        <li><strong>30 %</strong> complexité des démarches administratives</li>
        <li><strong>28 %</strong> gestion du tiers-payant trop chronophage</li>
      </ul>
    </section>
    <section id="wait">
      <h3>Attentes du pharmacien en matière de tiers-payant</h3>
      <ul>
        <li><strong>65 %</strong> rencontrent des difficultés dans la gestion du tiers-payant</li>
        <li><strong>96 %</strong> souhaitent réduire le temps passé à la gestion du tiers-payant</li>
      </ul>
    </section>
    <section id="value">
      <h3>Avec Backoffice, redonnez de la valeur à votre métier de pharmacien !</h3>
    </section>
    <section id="hidden_cost">
      <dl>
        <dt>Selon l'étude de l'USPO réalisée en 2016</dt>
        <dd>Les coûts cachés de gestion du tiers-payant</dd>
      </dl>
      <ul>
        <li><strong>13 246 <span>€/an</span></strong> si géré par un préparateur ou une secrétaire</li>
        <li><strong>28 604 <span>€/an</span></strong> si géré par un pharmacien</li>
      </ul>
    </section>
    <p id="study_pharminfo">Enquête réalisée auprès de 378 pharmaciens sur les sites Internet <a href="https://www.pharminfo.fr/" target="_blank">Pharminfo.fr.</a></p>
  </article>
{% endblock content %}
