{% extends "_layout.jinja2" %}

{% block content %}
    <section id="outsourcing">
      <h2>La gestion du tiers payant vous semble chronophage ?</h2>
      <p><strong>Elle représente en moyenne 150 heures de travail pour le suivi et traitement des contentieux.</strong></p>
      <p>Objectif pour le pharmacien : déléguer l’ensemble des tâches liées au tiers-payant à un expert de ce domaine.</p>
      <section id="homemade">
        <h3>Avantages d’une externalisation par Backoffice Services</h3>
        <ul>
          <li>La prise en charge de l’intégralité de la gestion du tiers-payant.</li>
          <li>Un suivi statistique pour conseiller et aider à réduire le nombre rejets.</li>
          <li> Un point personnalisé et régulier avec nos spécialistes du tiers-payant.</li>
        </ul>
      </section>
      <section id="economy">
        <h3>Avantages pour votre officine</h3>
        <ul>
          <li>Du temps de gagné.</li>
          <li>Moins de litiges.</li>
          <li>Économie et gain de productivité.</li>
          <li>Économie de masse salariale.</li>
          <li>Diminution des encours avec un taux moyen d’impayés inférieur à 1 % contre une moyenne de 3 % en France.</li>
        </ul>
      </section>
    </section>
{% endblock content %}
