{% extends "_layout.jinja2" %}

{% block content %}
    <section id="recruitment">
      <h2>Recrutement</h2>
      <article>
        <h3>Gestionnaire Tiers-Payant Indépendant (H/F)</h3>
        <p><a href="https://www.kozea.fr/">Kozea group</a>, expert dans le domaine de la santé digitale avec actuellement
           près de 2500 clients (site Internet, réservation d'ordonnance en ligne, vente en ligne, agenda en ligne...) recherche de nouveaux partenaires
           pour conforter son développement.
        </p>
        <p><strong>Vous connaissez le monde de la santé ou l'environnement du tiers-payant ?</strong> Créez votre entreprise dans un secteur en pleine évolution avec
          le partenaire adapté qui pourra vous accompagner dans votre projet.
        </p>
        <p>Nous mettons en oeuvre les moyens de votre réussite : des marques référentes,
          un accompagnement permanent, une formation adaptée à vos besoins, des moyens performants.
        </p>
        <p>Votre aptitude au changement, votre enthousiasme et nos savoir-faire feront de vous un chef d'entreprise indépendant ayant pour mission de :
          <ul>
            <li>Animer, gérer votre territoire</li>
            <li>Prendre en charge l'externalisation du tiers-payant</li>
            <li>Diffuser nos offres</li>
          </ul>
        </p>
        <h4>Profil</h4>
        <ul>
          <li>Vous souhaitez vous impliquer dans un projet innovant et performant</li>
          <li>Vous maîtrisez impérativement le monde des professionnels de santé et leurs contraintes administratives (tiers-payant)</li>
          <li>Vous avez besoin d'autonomie et aimez les responsabilités multiples</li>
          <li>Vous souhaitez capitaliser les résultats de votre travail</li>
        </ul>
        <p>Si cette opportunité vous intéresse, contactez-nous !<a href="{{ url_for('page', page='contact') }}">Nous contacter</a>
        </p>
    </article>
    </section>
{% endblock content %}
